academictorrents==2.3.3
albumentations==1.4.16
anomalib==1.1.1
clip==0.2.0
einops==0.8.0
evaluation==0.0.2
imgaug==0.4.0
kornia==0.6.12
matplotlib==3.9.2
natsort==8.4.0
numpy==1.22.3
omegaconf==2.3.0
packaging==24.1
Pillow==10.4.0
pudb==2024.1.2
pytorch_lightning==1.5.9
PyYAML==6.0.2
scikit_learn==1.5.2
scipy==1.14.1
taming_transformers_rom1504==0.0.6
tensorboardX==2.6.2.2
timm==1.0.9
torch==1.10.1
torchmetrics==0.11.1
torchvision==0.11.2
tqdm==4.63.0
transformers==4.18.0
